include LICENSE
include README.md
exclude .pre-commit-config.yaml

recursive-include workflows *.py
recursive-include workflows *.json

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *

include asv.conf.json
recursive-include benchmarks *.py
recursive-include benchmarks *.json
recursive-exclude benchmarks/results *
